# DB_URL is optional. If not provided, it will create a local SQLite file named local.db
DB_URL=postgresql://postgres:Mrx@1442068134@db.ydtwyuwmhuljlxicdzlu.supabase.co:5432/postgres
JWT_SECRET=59cb49d9-8cca-417c-b0d8-5a472aef3b2c
